<!--评论框代码-->

<!--<section class="post-comments">-->

    <!--<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>-->
    <!--<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>-->
    <!--<script>-->
        <!--var cloudTieConfig = {-->
            <!--url: document.location.href,-->
            <!--sourceId: "",-->
            <!--productKey: "b0bf2538e43a415ab18a1a9cc7004b20",-->
            <!--target: "cloud-tie-wrapper"-->
        <!--};-->
        <!--var yunManualLoad = true;-->
        <!--Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);-->
    <!--</script>-->

<script type="text/javascript" id="wumiiComments">
    var wumiiPermaLink = ""; //请用代码生成文章永久的链接
    var wumiiTitle = ""; //请用代码生成文章标题
    var wumiiSitePrefix = "https://xianguoji.github.io/"; //安装无觅评论插件的网站的域名，如果是放在子域名上，请提供子域名，如"http://blog.wumii.com"。如果这里填写的域名不对，请自行改正。
    var wumiiCommentParams = "&pf=JAVASCRIPT";
</script>
<script type="text/javascript" src="http://widget.wumii.cn/ext/cw/widget"></script>
  
</section>
